---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE  } from '../consts';
import url_for from '../helpers/url';
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description="Not Found" />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h3>404 - Not found</h3>
      <p>
        Head to the <a href={url_for("notes/")}>notes tree</a>,{" "} or <a href="./blog/">blog</a>
      </p>
    </main>
    <Footer />
  </body>
</html>
