---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import url_for from '../helpers/url';
import generateStorkIndex from '../helpers/generate_stork_index';
// sort of a hack, but want to do this during build time instead
// of figuring out how to run a script in astro (need to have access to astro:content)
//
// this just runs once at build time since this is a static page,
// it does not run in the browser
generateStorkIndex()
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <p>
        This is originally inspired by the idea of an <a href="https://beepb00p.xyz/exobrain/" target="_blank">exobrain</a> - I
	  use this store notes, any random thoughts I have, blog posts, art, anything else.
      </p>
      <p>
        This is a mix between larger thought out posts and perhaps false, researchy notes/lists, so take everything with a grain of salt.
      </p>
      <p>
        Head to the <a href={url_for("notes/")}>notes tree</a>,{" "}
        <a href={url_for("blog/")}>blog</a>, or <a href={url_for("notes/tools/")}>tools</a>
      </p>
      <hr />
      <p>
        <a href="https://github.com/seanbreckenridge/exobrain" target="_blank">source code for this website</a> - any code is licensed under the <a href="https://raw.githubusercontent.com/seanbreckenridge/exobrain/master/LICENSE" target="_blank">MIT license</a>, while any prose/blog posts/thoughts is licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a>.
      </p>
    </main>
    <Footer />
  </body>
</html>
