---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import url_for from '../helpers/url';
const index = url_for("index.st")
---

<header>
	<nav>
		<h2><a href={import.meta.env.BASE_URL}>{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href={url_for("notes/")}>Notes</HeaderLink>
			<HeaderLink href={url_for("blog/")}>Blog</HeaderLink>
			<HeaderLink href={url_for("journal/")}>Journal</HeaderLink>
			<button class="search-icon" role="button"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg></button>
		</div>
		<div class="social-links">
			<a href="https://sean.fish" target="_blank">
				<span class="sr-only">Go to my website</span>
				<img src="https://sean.fish/favicon.ico" alt="sean.fish" width="32" height="32" />
			</a>
			<a href="https://github.com/seanbreckenridge" target="_blank">
				<span class="sr-only">Go to My GitHub Page</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
					></path></svg
				>
			</a>
		</div>
	</nav>
</header>
<!-- floating stork search bar -->
<div class="stork-wrapper-dark hide" data-index-url={index}>
	<input data-stork="search" class="stork-input" />
	<div data-stork="search-output" class="stork-output"></div>
</div>
<!-- TODO: dont use CDN for this? -->
<script is:inline src="https://files.stork-search.net/releases/v1.6.0/stork.js"></script>
<script is:inline>
	const indexUrl = document.querySelector('.stork-wrapper-dark').dataset.indexUrl
	stork.register("search", indexUrl)
	const searchIcon = document.querySelector('.search-icon')
	const wrapper = document.querySelector('.stork-wrapper-dark')
	const sInput = document.querySelector('.stork-input')
	searchIcon.addEventListener('click', () => {
		if (wrapper.classList.contains('hide')) {
			wrapper.classList.remove('hide')
			sInput.focus()
		} else {
			wrapper.classList.add('hide')
		}
	})
</script>
<link rel="stylesheet" href="https://files.stork-search.net/releases/v1.6.0/dark.css" />
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: rgb(var(--gray-very-dark));
		color: rgb(var(--offwhite));
		box-shadow: 0 2px 8px rgb(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}
	.search-icon {
		/* fix height of search icon */
		position: relative;
		top: 0.2em;
		padding: 1em 0.5em;
		cursor: pointer;
		/* remove background and border */
		border: none;
		background: none;
		color: var(--offwhite);
	}
	.hide {
		display: none;
	}
	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--offwhite);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links, nav h2 {
			display: none;
		}
		nav a {
			padding: 1em 0.25em;
		}
	}
	@media (max-width: 1024px) {
		nav a {
			font-size: 0.9em;
		}
	}
</style>
