---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import url_for from '../helpers/url';
const index = url_for("index.st")
---

<header>
	<nav>
		<h2><a href={import.meta.env.BASE_URL}>{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href={url_for("notes/")}>Notes</HeaderLink>
			<HeaderLink href={url_for("blog/")}>Blog</HeaderLink>
			<HeaderLink href={url_for("journal/")}>Journal</HeaderLink>
			<button class="search-icon" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg><span class="sr-only">Search</span></button>
		</div>
		<div class="social-links">
			<a href="https://sean.fish" target="_blank">
				<span class="sr-only">My Website</span>
				<img src="https://sean.fish/favicon.ico" alt="sean.fish" width="32" height="32" />
			</a>
		</div>
	</nav>
</header>
<div class="stork-wrapper-dark hide" data-index-url={index}>
	<input data-stork="search" class="stork-input" placeholder="Search for..." />
	<div data-stork="search-output" class="stork-output"></div>
</div>
<script is:inline src="https://files.stork-search.net/releases/v1.6.0/stork.js"></script>
<script is:inline src={url_for("stork_glue.js")}></script>
<link rel="stylesheet" href="https://files.stork-search.net/releases/v1.6.0/dark.css" />
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: rgb(var(--gray-very-dark));
		color: rgb(var(--offwhite));
		box-shadow: 0 2px 8px rgb(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}
	.search-icon {
		/* fix height of search icon */
		position: relative;
		top: 0.4em;
		padding: 1em 0.5em;
		cursor: pointer;
		/* remove background and border */
		border: none;
		background: none;
		color: var(--offwhite);
	}
	.hide {
		display: none;
	}
	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--offwhite);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links, nav h2 {
			display: none;
		}
		nav a {
			padding: 1em 0.25em;
		}
	}
	@media (max-width: 1024px) {
		nav a {
			font-size: 0.9em;
		}
	}
</style>
