---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { journalDate } from '../helpers/date';

type Props = CollectionEntry<'journal'>['data'];

const { date } = Astro.props;
const dateFmt = journalDate(date);
---

<html lang="en">
	<head>
		<BaseHead title={dateFmt} description={dateFmt} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.prose {
				width: 1440px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--offwhite));
			}
			.title {
				margin-bottom: 1em;
				padding-bottom: 0.25em;
				line-height: 1;
			}
			.title h5 {
				margin: 0 0 0.5em 0;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="prose">
					<div class="title">
						<h5>{dateFmt}</h4>
					</div>
					<slot />
				</div>
			</article>
		</main>
	</body>
</html>
